@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-LightSemiExt.eot"),
    url("../fonts/MyriadPro-LightSemiExt.woff") format("woff"),
    url("../fonts/MyriadPro-LightSemiExt.ttf") format("truetype");
}
@font-face {
  font-family: "Slick";
  src: url("../fonts/slick.eot") format(’embedded-opentype’),
    url("../fonts/slick.woff") format(’woff’),
    url("../fonts/slick.ttf") format(’truetype’);
  font-weight: normal;
  font-style: normal;
}
